<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{/layui/layui.js}"></script>
</head>
<body>
    <table id="demo" lay-filter="test"></table>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#demo'
                ,height: 312
                ,url: '/book/select' //数据接口
                ,page: true //开启分页
                ,limit:2//默认一页显示5条数据
                ,limits:[2,3,5,10,15,20,50,100]//默认一页显示5条数据
                ,cols: [
                    [ //表头
                        {field: 'id', title: '书籍编号', width:120, sort: true, fixed: 'left'}
                        ,{field: 'title', title: '书籍名称', width:200}
                        ,{field: 'price', title: '价格', width:80, sort: true}
                        ,{field: 'cateId', title: '书籍类别', width:80}
                        ,{field: 'pubDate', title: '上架时间', width: 200, sort: true}
                    ]]
            });
        });
    </script>
</body>
</html>